<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "PhaseBoot", root_path, id: "logo", class: "pull-left" %>
      <nav class="pull-right">
        <ul class="nav">
          <% if current_user %>

          <li><%= link_to "Create Profile", edit_user_path(current_user.id) %></li>
          <li><%= link_to "Sign Out", signout_path %></li>
          <% else %>
          <li><%= link_to "Sign in with Github!", "/auth/github" %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
