<% if @cohort %>
  <h2><%= @cohort.name %></h2>
<% end %>

<%if current_user %>
  <ul class="table users">
    <% @users.each do |user| %>
      <li>
        <% if user.first_name && user.last_name %>
          <%= link_to "#{user.first_name} #{user.last_name}", user_path(user) %>
        <% elsif user.email %>
          <%= link_to user.email, user_path(user) %>
        <% else %>
          <%= link_to user.id, user_path(user) %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
</div>
