<div id='home_page_header'> 
<h2>
  The awesome Banana Slugs
</h2>
<%if current_user %>
<% @users.each do |user| %>
  <%= link_to image_tag(user.photo_url), "/users/#{user.id}" %>  
  <% end %>

<% end %>

</div>
