<div id='home_page_header'> 
<h3>
  Banana Slugs
</h3>

<%if current_user %>
<% @users.each do |user| %>
  <%= link_to image_tag(avatar(user.photo_url, @avatars)), "/users/#{user.id}" %>  
  <% end %>

<% end %>
</div>

<!-- unless current_user.photo_url -->
