<ul>
	<% users.each do |user| %>
	

	<li>
		<%= render "/users/quickinfo", {:user => user} %>
    <div class="profile_img">
		  <img src="<%= user.photo_url %>" alt="<%= user.nickname %>" />
      <span><%= user.name %></span>
    </div>
	<li>
	<% end %>
</ul>
