<% if current_user %>
	<%= render '/pages/search' %>
	<div class="search-box">
	<%= render '/pages/results', :users => @users %>
	</div>
<% else %>
<div class="name_img_span">

 

  <%= link_to image_tag('l-arrow.png'), "/pages/random_user", :remote=>true, method: :post %>
  
 	<div class="featured_user">
 		<%= render '/pages/home_users', :user => @user %>
	</div>
  
</div>
<% end %> 