<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to BootConnect, <%= @name %></h1>
    <p>
      Join to connect with everyone from current and prior cohorts.<br/>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>We're excited for you to join the DBC community!</p>
  </body>
</html>
