<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <img src="http://bootconnect.com/bootconnect_logo_email.png">
    <h1>Welcome to BootConnect!</h1>
    <p>
      Sign up now to connect with everyone from current and prior cohorts!
    </p>
    <p>Access contact information on-the-go. Get technical help. Or even find a job!</p>
    <p>
      To create your profile, you must use this link: 
      <br>
      <%= @url %>
    </p>
    <p>Welcome to the DBC community!</p>
  </body>
</html>
