/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 
.flash {
  width: 100%;
  padding: 5px;
  background: rgba(255, 200, 200, .8);
  text-align: center;
  color: #000;
  border: 1px solid #F99;
}

ul.table {
  display: table;
  list-style-type: none;

  li {
    display: table-row;
    border-bottom: 1px dotted #eee;

    span {
      min-width: 200px;
      display: inline-block;
    }
  }
}

.right {
  float: right;
  text-align: right;
}

#top_container {
  padding: 0 20px;
}

header {
  .navbar-inner {
    border-radius: 0;
    -webkit-navbar-inner: 0;
  }
}

@media (max-width: 767px) {
  body.custom {
    padding: 0;
  }

  header img {
    width: 170px;
  }

  header.navbar .nav > li > a {
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  nav.pull-right {
    float: right;
    padding: 0px;
  }

  .navbar .nav > li {
    line-height: 0px;
  }

  img.logo {
    width: 100px;
    padding-top: 10px;
  }
  
  div.featured_users {
    width: 300px;
    padding: 0;
    margin: 0;
  }

  div.name_img_span {
    width: 300px;
  }

  img.l-arrow, img.r-arrow {
    position: absolute;
    top: 25px;
    width: 14%;
  }

  ul.nav {
    margin: 0;
    padding: 0;
    font-size: 12px;
  }

  div.navbar-inner {
    height: 100px;
  }

  a#sign-in-github.btn-auth.btn-github {
    margin-top: 15px;
  }

  div.featured_user.show p {
    font-size: 24px;
    margin-top: 10px;
    line-height: 30px;
  }

  div#top_container.container {
    margin-top: 0;
    padding-top: 0
  }
}
