.actions {
  list-style-type: none;
}

.contents ul li{
  display: inline;
}

.icon img{
  border: 1px solid #666;
  box-shadow: none;
}

.custom h2{
	font-size: 16px;
	padding-top: 20px;
}

.custom table{
	width: 940px;
}

.custom tr{
	text-align: left;
	color: #666;
}

.custom thead{
	background-color: #666;
}

.custom .description{
	display: none;
}

.custom .last_post{
	padding-left: 20px;
}

.custom .forum a{
	display: block;
}

.custom .forum{
	vertical-align: top;
}

.custom .desc-and-last-post, .topics-count, .posts-count, .views-count {
	color: #fff;
}

.custom #description{
	display: none;
}

.custom #forum_topic_links{
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	padding:6px 17px;
	text-decoration:none;
	text-shadow:1px 1px 1px #ffffff;
}

.custom #forum_topic_links:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}

.custom #forum_topic_links:active {
	position:relative;
	top:1px;
}

.custom #forum_topic_links a{
	color: #333;
}

.custom #forum #q{
	width: 200px;
}

.custom #forum{
	position: relative;
}

.custom #forum form{
	position: absolute;
	right: 0px;
	margin-top: -41px;
}

.custom #forum input[type="submit"]{
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	padding:4px 17px;
	text-decoration:none;
	text-shadow:1px 1px 1px #ffffff;
	margin-top: -10px;
}

.custom #forum input[type="submit"]:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}

.custom #forum input[type="submit"]:active {
	position:relative;
	top:1px;
}

.custom #forum input[type="submit"] a{
	color: #333;
}

.custom #new_topic{
	position: absolute;
	left: 0px;
	margin-top: 10px;
}

.custom #forum textarea, .custom #forum input[type="text"]{
	width: 600px;
}

.custom #forum textarea{
	height: 300px;
}

.custom .latest-post{
	vertical-align: top;
}

.custom .posts-count{
	vertical-align: top;
}

.custom .views-count{
	vertical-align: top;
}


.custom menu{
	padding-left: 0px;
}