body {
  background-image:url('bedge_grunge.png');
  background-repeat:repeat;
  color: #222;
  font-family: Sanchez;
}

a {
  color: rgb(0, 58, 145);
  
  text-decoration: none;
}

a:hover {
  color: rgb(0, 102, 255);
  text-decoration: underline;
}

.nav ul {
  margin-top: 0;
  font-size: 16px;
}

.faux_link {
  color: white;
}

#home_page_header {
  margin-top: 100px;
}


header a:hover {
  text-decoration: none;
}

#logo {
  font-size: 36px;
  margin-top: 10px;
}

#cohort_cohort_id {
  margin: 0;
}

.logo {
  border: none;
  box-shadow: none;
  margin-left: -13px;

}

.tiny_pics {
  width: 75px;
  border: 3px solid white;
}

.navbar-inner {
  background-image: linear-gradient(to bottom, #666, #111111) !important;
}

.profile_img {
  float: left;
  width: 194px;
  background: #fff;
  box-shadow: 3px 3px 10px 0px #666;

  img {
    box-shadow: none !important;
  }

  span {
    display: block;
    font-family: 'Rock Salt', cursive;
    font-size: 18px;
    text-decoration: center;
    margin: 5px 5px 10px 5px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
  }
}

.profile_label{
  color: #777;
  display: inline;
}

.controls img {
    box-shadow: 2px 2px 7px #666;
}

.search-box{
  position: relative;

  .profile_img {
    margin: 0 10px 20px 10px;
  }

  img {
    box-shadow: 2px 2px 7px #666;
  }

  ul{
    list-style-type: none;
    margin-top: 10px;
  }

  li{
    float: left;
  }
}

.search-users {
  text-align: center;
}

.search-users input[type="submit"]{
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
  background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color:#ededed;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#777777;
  font-family:arial;
  font-size:12px;
  font-weight:bold;
  padding:4px 17px;
  text-decoration:none;
  text-shadow:1px 1px 1px #ffffff;
  margin-top: -10px;
}

.search-users input[type="submit"]:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
  background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  background-color:#dfdfdf;
}

.search-users input[type="submit"]:active {
  position:relative;
  top:1px;
}

.search-users input[type="submit"] a{
  color: #333;
}

nav {
  font-family: Sanchez;
  font-size: 16px;
}

.navbar .nav > li > a {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 15px;
}

#sign-in-github{
  padding: 10px 15px 10px;
}

.quickinfo {
  position: absolute;
  float: none;
  width: 180px;
  height: 194px;
  padding-top: 0px;
  padding-left: 8px;
  background-color: #fff;
  opacity: 0.9;
  display: none;
  margin: 5px 10px;
}

.quickinfo li{
  display: block;
  line-height: 25px;
  float: none;
}

.quickinfo img{
  border: none;
  box-shadow: none;
}

.quickinfo .close{
  position: absolute;
  right: 0;
  margin-top: -16px;
  margin-right: -17px;
  opacity: 1.0;
}
