body {
  background-image:url('bedge_grunge.png');
  background-repeat:repeat;
  color: #222;
}

a {
  color: rgb(0, 102, 255);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.nav ul {
  margin-top: 0;
  font-size: 16px;
}

.faux_link {
  color: white;
}

#home_page_header {
  margin-top: 100px;
}

header {
  line-height: 120px;
}

header a:hover {
  text-decoration: none;
}

#top_container {
  margin-top: 125px;
}

#logo {
font-size: 36px;
margin-top: 10px;
}

#cohort_cohort_id {
  margin: 0;
}

.logo {
  border: none;
  box-shadow: none;
  margin-left: -13px;

}

.profile_img {
  float: left;
}

.tiny_pics {
  width: 75px;
  border: 3px solid white;
}

.navbar-inner {
  background-image: linear-gradient(to bottom, #666, #111111) !important;
}

.profile_img img{
  box-shadow: 2px 2px 7px #666;
}

.profile_label{
  color: #777;
  display: inline;
}

