// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Home page */

.name_img_span {
  width: 500px;
  float: none;
  margin: 50px auto;
  text-align: center;
  
  

  h4 {
    text-align: center;
  }

  img {
    box-shadow: 2px 2px 7px #666;
  }

  .arrow {
    border: none;
    box-shadow: none;
    padding-left: 20px;
    padding-right: 20px;
  }

  .l-arrow {
    border: none;
    box-shadow: none;
  }

  p {
    margin-top: 30px;
    font-style: italic;
    color: #666;
    font-size: 32px;
    font-family: 'Sanchez', serif;
    line-height: 40px;
  }

  
}




