// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-form {
  width: 940px;
}

#user_info {
  list-style: none;
  display: inline-block;
  padding-left: 30px;
  width: 480px;
}

ul.avatars {
  width: 440px;
  float: right;
  margin-top: 0px;
}

#update_group {
  width: 500px;
  float: left;
  margin-top: 15px;
}

ul.avatars li.avatar {
  padding: 5px 6px 6px 5px;
  margin: 5px;
  border: 3px dashed transparent;
  border-radius: 15px;
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
}

ul.avatars li.avatar.selected {
  border-color: orange;
  border: 3px dashed orange;
}

ul.avatars li.avatar input {
  display: inline-block;
}

ul.avatars li.avatar img {
  border-radius: 10px;
  width: 100px;
  border: none;
  box-shadow: 2px 2px 7px #666;
}

.welcome {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.controls img {
  margin-left: 20px;
}

.avatar_change {
  .change {
    margin-left: 200px;
    font-size: 10px;
  }
}

@media (max-width: 767px) {
  .user-form {
    width: 100%;
  }

  ul.avatars {
    float: none;
  }
}
