d// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user_info {
  list-style: none;
}

ul.avatars {
  width: 440px;
  float: right;
  margin-top: 0px;
}

#update_group {
  width: 500px;
  float: left;
  margin-top: 15px;
}

ul.avatars li.avatar {
  padding: 5px 6px 6px 5px;
  margin: 5px;
  border: 3px dashed transparent;
  border-radius: 15px;
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
}

ul.avatars li.avatar.selected {
  border-color: orange;
  border: 3px dashed orange;
}

ul.avatars li.avatar input {
  display: inline-block;
}

ul.avatars li.avatar img {
  border-radius: 10px;
  width: 100px;
  border: none;
  box-shadow: none;
}

.welcome {
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

.profile_label {
  display: inline;
  color: #666;
}

.controls img {
  margin-left: 20px;
}
