.featured_users .profile_img img{
  display: block;
}

@media (max-width: 480px) {
  .flash-notice { 
    margin-bottom: 0px; 
    border: 0;
    outline: 1px solid #F99;
    padding: 5px 0;
  }

  .profile_img {
    width: 148px;
  }

  .navbar .nav > li > a {
    font-size: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 20px;
    padding-left: 0;
  }

  .profile_img span {
    font-size: 14px;
  }
  .profile_img img {
    width: 132px;
  }

  .featured_user img {
    width: 178px;
  }
  .custom table {
    max-width: 480px;
    width: 100%;
  }
  .topics-count,
  .posts-count,
  .views-count {
    padding: 0 10px;
  }
  .custom #forums_container,
  .custom #forum {
    width: 100%;
  }
  .quickinfo {
    width: 298px;
    height: 190px;
    opacity: 1.0;
    margin-top: 0px;
    margin-left: 0;


  }

  .search-box .profile_img {
      margin: 0 10px 10px 0px;
      }

  .search-box li:nth-child(even) {

   .quickinfo {
       margin-left: -158px;

       }
  }

  .quickinfo .close {
    width: 24px;
    margin-top: -12px;
    margin-right: -12px;
  }
  .quickinfo img.social_icons {
    width: 36px;
  }
  .avatar_change .change a{
    text-align: left;
    display: block;
  }
  .avatar_change .profile_img,
  .avatar_change .change {
    margin-left: 0 !important;
  }
  input[type=submit] {
    padding: 15px;
    font-size: 20px;
  }
  .search-users #view_cohort {
    width: 280px;
  }
  .custom .navbar {
    margin-bottom: 0px;

  }
  .custom #top_container {
    padding: 0px;
    margin: 0;
  }
  .custom .search-box {
    overflow: hidden;
    width: 336px;
    margin: 0 auto;
  }
  .custom .search-users {
    border-top: 1px solid white;
    margin-bottom: 10px;
    padding: 20px 0px 10px 0px;
    background: #eee;
    box-shadow: 10px 0px 10px #666;
    width: 100%;  
  }
  .custom .form-horizontal,
  .custom .welcome {
    padding: 0 20px;
  }
  .custom #forum_topic_links {
    margin: 20px;
  }

  div#top_container.container {
    
  }

  div#update_group {
    max-width: 350px 
  }

  .form-horizontal.user-form {
    max-width: 335px;
  }

  input.controls {
    padding: 5px;
    font-size: 16px;
  }

  ul#user_info {
    width: 345px;
  }

  ul#user_info li {
    width: 340px;
    margin-right: 0;
  }

  div.profile_img {
    margin-left: 30px;  
  }
}

@media (max-width: 979px) { 
  .custom table {
    max-width: 900px;
    width: 100%;

  }
  .avatar_change .profile_img,
  .avatar_change .change {
    margin-left: 200px;
  }
   
  .topics-count,
  .posts-count,
  .views-count {
    padding: 0 10px;
  }
  .custom #forums_container,
  .custom #forum {
    width: 100%;
  }
}